*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1{
    width: 83%;
    margin: auto;
}
body{
    position: relative;
    background: #120D3B;
}
.menu{
    margin:  63.5px 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
// Variables ===========================
$maxWidth: 1440;
$maxWidthContainer: 1200;
// END Variables ===========================

// MIXIN ===================
@mixin adaptivValue($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    $addMobSize: $startSize + $startSize * 0.7;

    @media (max-width: 1440px) {
        // #{$property}: calc(#{$minSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
        
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / (#{$maxWidth} - 320)));
    }
    
    @media (min-width: 1440px) {
        #{$property}: $startSize + px;
    }
}
.container {
    max-width: $maxWidthContainer + px ;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1200px){
        max-width: none;
        padding: 0 20px;
    }
}

.navigation__item{
    margin: 0px 0 14px 36px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FCFCFC;
}
.border__yellow{
    border: 1px solid #FFD527;
    box-sizing: border-box;
    border-radius: 8px;
    height: 56px;
    width: 243px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navigation {
    
    flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
  }
  
.check {
    display: none;
  }
  .menu__logo {
    padding: 0 19px;
  }
  .menu__logo img{
    width: 200px;
  }
.chlenstvo__bef{
    position: relative;
    width: 500px;
    height: 500px;

}
.chlenstvo__bef::after{
    top: 34px;
    content: "";
    background-image: url(Ellipse46.png);
    width: 500px;
    height: 500px;
    z-index: 100;
    position: absolute;
}

.block{
    @media(max-width: 750px){
        
            flex-direction: column;
        }
       
        
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__subtitle{
font-family: Open Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 31px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 40px;
color: #A2A4BD;
    }
&__img{
    width: 100%;
}
&__hr{
    width: 80px;
    border: 2px solid #FCFCFC;
    margin-bottom: calc(47px + 73*(100vw / 1440));

@media (max-width:1000px){
    margin-right: auto;
    margin-left: auto;
}}
&__h6{
    margin-bottom: 24px;

    font-weight: 400;
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
color: #A2A4BD;
}
&__title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: calc(25px + 47*(100vw / 1440));
    line-height: 120%;
    color: #FCFCFC;
    margin-bottom: 35px;
}
&__btn{
    
    padding: 22px 40px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #FEA906;
    border-radius: 8px; 
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #FCFCFC;
@media(max-width: 750px){
        margin-bottom: 65px;
    padding: 17px 22px;
        
    }
}
&__item{
    width: 50%;
    @media(max-width: 750px){
        width: 93%;
    }
}
}
.bubu{
    position: relative;
    width: 68px;
    height: 68px;
}
.glavnaya-chlenstvo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bubu::after{
    top: 34px;
    content: "";
    background-image: url(Frame8016.png);
    width: 68px;
    height: 68px;
    z-index: 100;
    left: calc( (100vw) /2 - 34);
    position: absolute;
}



.log-out-of-membership__col img{
    width: 100%;
}
.log-out-of-membership__cols{
    
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .log-out-of-membership__col{
    width: 50%;
}
.after-glavnaya{
    background:#221A4F;
}
.after-glavnaya p{
    
   color: #FCFCFC;
    padding: 104px 258px;
    font-family: Open Sans;
    font-size: calc(14px + 10*(100vw / 1440));
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: center;
    
}
.after-glavnaya span{

    color:#FEA906;
}
.membership-give-u{
    margin: 145px 0 100px 0;
}
.membership, .goals__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}
.membership-give-u h3{
    font-size: calc(26px + 10*(100vw / 1440));
line-height: 51px;
margin-bottom: 80px;

color: #F7F7FC;
}
.membership__item, .goals__col
{
    width: 42%;
}
.membership__item p, .goals__text
{
    margin-bottom: 55px;
    font-size:calc(13px + 4*(100vw / 1440));
line-height: 180%;  
color: #FCFCFC;
}
.log-out-of-membership__col h2{
    font-size: calc(26px + 10*(100vw / 1440));
line-height: 124%;
letter-spacing: 1px;
color: #FCFCFC;
margin-bottom: 16px;
}
.log-out-of-membership__col p{
    font-size: 17px;
    line-height: 180%;
    color: #A2A4BD;
    margin-bottom: 40px;
}
.log-out-of-membership__col button{
    border: 1px solid #FFD527;
box-sizing: border-box;
border-radius: 8px;
height: 56px;
width: 243px;
background-color: rgba(73, 17, 17, 0);
border-radius: 8px;
font-size: 16px;
line-height: 20px;
color: #FCFCFC;

display: flex;
align-items: center;
justify-content: center;
}

.befff{
    position: relative;
}

.fa-angle-down{
    color: #FCFCFC;
    margin-left: 5px;
}
.befff::after{
   
background: radial-gradient(50.43% 70.73% at 43.59% 47.21%, #004FE8 0%, #0222C7 11.89%, #07207A 26.69%, #100A57 61.3%, #120D3B 93.96%, #140C43 100%);
filter: blur(200px);
transform: matrix(0.71, 0.41, -1.22, 0.71, 0, 0);
    position: absolute;
    width: 75vw;
    height: 100vh;
    
    z-index: -1;
    bottom: 20px;
    right: 0;

} 
.navigation__hr{
    display: none;
    border: none;
    height: 2px;
    width: 46vw;
    margin: auto;
    background-color: #ffd527de;
    border-radius: 51%;
}
.stars{
    mix-blend-mode: color-dodge;
    position: absolute;
}
.star{
    width: 24.6px;
    height: 24.6px;
    background: radial-gradient(49.89% 49.89% at 49.97% 49.57%, #FFFFFF 0%, rgba(250, 247, 246, 0.9926) 0.74%, rgba(223, 209, 200, 0.9523) 4.77%, rgba(197, 174, 157, 0.9069) 9.31%, rgba(175, 143, 119, 0.8581) 14.19%, rgba(156, 116, 87, 0.805) 19.5%, rgba(140, 93, 59, 0.7463) 25.37%, rgba(127, 75, 37, 0.68) 32%, rgba(117, 61, 20, 0.6026) 39.74%, rgba(110, 51, 9, 0.5069) 49.31%, rgba(106, 46, 2, 0.3726) 62.74%, rgba(105, 44, 0, 0) 100%);
    left: 351px;
    top: 196px;
}
.star1{
    background: radial-gradient(49.95% 49.95% at 49.92% 50.1%, #FFFFFF 0%, rgba(250, 247, 246, 0.9926) 0.74%, rgba(223, 209, 200, 0.9523) 4.77%, rgba(197, 174, 157, 0.9069) 9.31%, rgba(175, 143, 119, 0.8581) 14.19%, rgba(156, 116, 87, 0.805) 19.5%, rgba(140, 93, 59, 0.7463) 25.37%, rgba(127, 75, 37, 0.68) 32%, rgba(117, 61, 20, 0.6026) 39.74%, rgba(110, 51, 9, 0.5069) 49.31%, rgba(106, 46, 2, 0.3726) 62.74%, rgba(105, 44, 0, 0) 100%);
width: 61.51px;
    height: 61.51px;
    left:1051px;
    top: 309px;
}
.star2{
    left: 601px;
    top: 721px;
    width: 61.51px;
    height: 61.51px;
    background: radial-gradient(49.95% 49.95% at 49.91% 49.97%, #FFFFFF 0%, rgba(250, 247, 246, 0.9926) 0.74%, rgba(223, 209, 200, 0.9523) 4.77%, rgba(197, 174, 157, 0.9069) 9.31%, rgba(175, 143, 119, 0.8581) 14.19%, rgba(156, 116, 87, 0.805) 19.5%, rgba(140, 93, 59, 0.7463) 25.37%, rgba(127, 75, 37, 0.68) 32%, rgba(117, 61, 20, 0.6026) 39.74%, rgba(110, 51, 9, 0.5069) 49.31%, rgba(106, 46, 2, 0.3726) 62.74%, rgba(105, 44, 0, 0) 100%);
}
.star3{
    left:76px;
    top: 638px;
    width: 24.6px;
    height: 24.6px;
    background: radial-gradient(49.89% 49.89% at 50.2% 50.27%, #FFFFFF 0%, rgba(250, 247, 246, 0.9926) 0.74%, rgba(223, 209, 200, 0.9523) 4.77%, rgba(197, 174, 157, 0.9069) 9.31%, rgba(175, 143, 119, 0.8581) 14.19%, rgba(156, 116, 87, 0.805) 19.5%, rgba(140, 93, 59, 0.7463) 25.37%, rgba(127, 75, 37, 0.68) 32%, rgba(117, 61, 20, 0.6026) 39.74%, rgba(110, 51, 9, 0.5069) 49.31%, rgba(106, 46, 2, 0.3726) 62.74%, rgba(105, 44, 0, 0) 100%);
}

.star4{
    left:482px;
    top: 282px;
    width: 54.08px;
    height: 54.08px;
    background: radial-gradient(49.79% 49.79% at 50.02% 49.97%, #FFFFFF 0%, rgba(250, 247, 246, 0.9926) 0.74%, rgba(223, 209, 200, 0.9523) 4.77%, rgba(197, 174, 157, 0.9069) 9.31%, rgba(175, 143, 119, 0.8581) 14.19%, rgba(156, 116, 87, 0.805) 19.5%, rgba(140, 93, 59, 0.7463) 25.37%, rgba(127, 75, 37, 0.68) 32%, rgba(117, 61, 20, 0.6026) 39.74%, rgba(110, 51, 9, 0.5069) 49.31%, rgba(106, 46, 2, 0.3726) 62.74%, rgba(105, 44, 0, 0) 100%);}
.star5{
    left:482px;
    top: 1192px;
    width: 38.88px;
    height: 38.88px;
    background: radial-gradient(49.79% 49.79% at 50.02% 49.97%, #FFFFFF 0%, rgba(250, 247, 246, 0.9926) 0.74%, rgba(223, 209, 200, 0.9523) 4.77%, rgba(197, 174, 157, 0.9069) 9.31%, rgba(175, 143, 119, 0.8581) 14.19%, rgba(156, 116, 87, 0.805) 19.5%, rgba(140, 93, 59, 0.7463) 25.37%, rgba(127, 75, 37, 0.68) 32%, rgba(117, 61, 20, 0.6026) 39.74%, rgba(110, 51, 9, 0.5069) 49.31%, rgba(106, 46, 2, 0.3726) 62.74%, rgba(105, 44, 0, 0) 100%);}

















  @media(max-width: 750px){
 .log-out-of-membership__cols{
    
    flex-direction: column;
}
.log-out-of-membership__col button {
        margin-bottom: 65px;
        width: 75%;
    }
.log-out-of-membership__col{
    width: 93%;
}
.navigation__hr{
   display: block;
}
    .border__yellow{
        border:none;
        box-sizing: border-box;
        
        height: 20px;width: 94%;

        
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .navigation{
        display: none;
    }
    .hambruger span {
        border-radius: 13px;
    background-color: #fcfcfd;
    height: 3px;
    width: 23px;
    color: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 6px;
      }
    
      .navigation__item {
          display: flex;
        font-family: "Lato", serif;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
         color: #fcfcfd;;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 15px;
        font-weight: 500;
        padding-left: 20px;
      }
    .menu{
        margin: 43.5px 0px;
    
      justify-content: space-between;
    }
      .navigation__item_blue {
        background-color: #ffffff;
        border-color: #ffffff;
        font-family: "Lato", serif;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: black;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 15px;
        font-weight: 600;
        padding-left: 20px;
      }
    
      #hambruger:checked ~ .navigation {
        width: 100%;
        display: block;
        position: absolute;
        right: 0;
        top: 150px;
        background-color: #120d3b;
      }
      
  }
  @media(max-width:600px){
      .membership-give-u {
          text-align: center;
      }
      .membership, .goals__row{
          
    flex-direction: column;
      }
      .membership__item, .goals__col {
        width: 100%;
    }
  }
  @media(max-width:1200px){
    .membership-give-u {
        margin: 10vw 0;
    }
    .after-glavnaya p{
        width: 65%;
        margin: auto;
    padding: 10% 0;
    }
    .star1{
        left: 10%;
    }.star2{
        left: 40%;
    }.star3{
        left:90%;
    }.star4{
        left: 70%;
    }.star5{
        left: 50%;        
        top: 10vh;

    }.star{
        left: 77%;
        top: 100vh;
    }}
// leadership page
.leadership{
    
        background: radial-gradient(64.97% 36.44% at 107.67% 37.18%, #004FE8 0%, #0222C7 12.53%, #07207A 44.16%, #100A57 70.31%, #140C43 89.62%, #120D3B 100%) no-repeat;
        color: #FCFCFC;
    
        // &::after{
        //     content: "";
        //     width: 60%;
        //     position: absolute;
        //     display: block;
        //     height: 60vh;
        //     z-index: -1;
        //     top: 0;
        //     background: radial-gradient(145% 130% at -36.49% -14.69%, #004FE8 0.16%, #0222C7 12.53%, #07207A 44.16%, #100A57 70.31%, #140C43 89.62%, #120D3B 100%);
        // }
    

    &__title{
        font-family: Open Sans;
        font-size: calc(25px + 23*(100vw / 1440));;
        font-style: normal;
        font-weight: 700;
        line-height: 51px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 32px;
        color: #F7F7FC;
        width: max-content;
        @media (max-width:1000px){
            margin: 0 auto 32px auto;
        }


    }
    &__hr {
    
        width: 80px;
        border: 2px solid #FCFCFC;
        margin-bottom: calc(47px + 73*(100vw / 1440));
    
    @media (max-width:1000px){
        margin-right: auto;
        margin-left: auto;
    }}
.leaders{ 
    margin-bottom: 129px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    @media (max-width:1000px){
        align-items: center;
        flex-direction: column;
    }
    &__item{    
        @media (max-width:1000px){
            text-align: center;
            margin-bottom: 35px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

        }

        width: calc(90vw / 3);
    }
    &__img{  
        @media (max-width:1000px){
            margin-left: 0;
        }

        margin-left: -47px;
    }
    &__name{
        margin-top: calc((-79px) + (-2)*(100vw / 1440));
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: calc(19px + 5*(100vw / 1440));
line-height: calc(36px + 15*(100vw / 1440));
color: #FFFFFF;
    }
    &__about{
        margin-bottom: 24px;
        font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: calc(15px + 2*(100vw / 1440));
    line-height: 180%;
    color: #FFFFFF;
    }
    &__social{
display: flex;
}
    
    &__btn{
        cursor: pointer;
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

        margin-right: 8px;
        height: 56px;
width: 131px;
left: 0px;
top: 0px;
border-radius: 16px;
background: #0e1046;
border: none;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;

    }
    

}
}
// contacts page

.contacts{
    position: relative;
    margin-bottom:  calc(50px + 90*(100vw / 1440));
    background-image: url(contactsbg.png);    
    background-size: 100% 100%;

    margin-top: calc(50px + 70*(100vw / 1440));
    @media(max-width:1000px){
        
        background-size: auto;
    }
    &__row{
        
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media(max-width:700px){
        flex-direction: column;
    }
    
    }
    &__col1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;        
        align-items: center;
            width: 50%;
            @media(max-width: 700px){
                width: 90%;
    margin-bottom: 30px;
}
            }
        
        
    
    &__col2{
            position: relative;
            width: 50%;
            @media(max-width: 700px){
                width: 80%;
            }
        &::after{
            background-image: url(contactsbn.png);
            right: -20%;
            content: "";
            mix-blend-mode: color-dodge;
            width: calc(90px + 25*(100vw / 1440));
            height: calc(95px + 28*(100vw / 1440));
            position: absolute;
            top: -19%;
            background-size: 100%;
        }
        
    }
    &__svg{
            background-image:url(contactsbn.png);
            right: calc(10px + 30*(100vw / 1440));
            content: "";
            mix-blend-mode: soft-light;
            transform: rotate(
                85.42deg
                );
            position: absolute;
            bottom: 0%;
            background-size: 100%;
        }
        &__svg3{
            left: calc(10px + 45*(100vw / 1440));
            transform: rotate(
        -6.58deg
        );
        bottom: calc(2px - 75*(100vw / 1440));
        }
    &__title{
        font-family: Open Sans;
        font-size: calc(36px + 8*(100vw / 1440));

font-style: normal;
font-weight: 700;
line-height: calc(38px + 20*(100vw / 1440));
letter-spacing: 0px;
text-align: left;
margin-bottom: 24px;
color: #FCFCFC;
    }
&__text{
    font-family: Open Sans;
    font-size: calc(14px + 3*(100vw / 1440));
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 48px;  
    color: #A2A4BD;  
}&__map{
    width: 100%;
    height:calc(300px + 295*(100vw / 1440));
    border-radius: 20px;
    box-shadow: calc(20px + 40*(100vw / 1440))  calc(-20px - 25*(100vw / 1440)) #06165d;
    @media(max-width:1200){
        width: 100%;
    }
}}
.contacts-info{
&__rows{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

&__column{


    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
&__img{
    margin-right: 1rem;
    width: calc(75px + 15*(100vw / 1440));
    height: calc(75px + 15*(100vw / 1440));
    
}
&__p{
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: calc(11px + 9*(100vw / 1440));
    line-height: 140%;
}
}

@media(max-width:1200){
    .contacts__map{
    width: 100%;
}}
//missions
.missionbg{ 
    @media(max-width:750px){
        position: relative;
 }
    &::before{
        background-size: 100%;
        background-image: url(/missionbg.png);
        position: absolute;
        content: "";
        width: 73vw;
        height: 57vw;
        right: 0;
        z-index: -1;
        top: 3%;
    @media(max-width:750px){
        bottom: 0;
        top: unset;
    }
    }
}

.goals{
    &__row{
        padding-bottom: calc(80px + 109*(100vw / 1440));
    }
                position: relative;

    &::before{
        background-size: 100%;
        background-image: url(/goalsbg.png);
        position: absolute;
        content: "";
        width: 50vw;
        height: 100%;
        mix-blend-mode: overlay;
        opacity: 0.3;
    @media (max-width:600px){
        width: 95vw;

    }}
    
    
    
&__col{
    @media (max-width:600px){
        text-align: center;}
}
    &__title{
        margin-bottom: 32px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: calc(33px + 15*(100vw / 1440));
        line-height: 51px;
        color: #F7F7FC;
        width: max-content;
        @media (max-width:600px){
            margin: 0 auto 32px auto;

        }

    }
    &__hr {
    
        width: 80px;
        border: 2px solid #FCFCFC;
        margin-bottom: calc(47px + 73*(100vw / 1440));
    
    @media (max-width:600px){
        margin-right: auto;
        margin-left: auto;
    }}
    &__subtitle{
        font-family: Open Sans;
        color: #FFFFFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 51px;
letter-spacing: 0px;
text-align: left;

@media (max-width:600px){
text-align: center;
}
    }
}
.bitcoins1{
    position: relative;
right: 182px;
bottom: 89px;
position: absolute;}
.bitcoins1-light{
    position: absolute;
    height: 191px;
    width: 202px;
    background: radial-gradient(50.02% 50% at 50.01% 50.03%, #04CAAA 0%, #06B195 14.9%, #077B6A 34.69%, #0A6849 52.4%, #000000 100%);
    mix-blend-mode: color-dodge;
    right: 124px;
    bottom: 43px;
}
.bitcoins2{
right: 66px;
bottom: 190px;
position: absolute;
}
.bitcoins2-light{
    position: absolute;
    height: 67px;
    width: 70px;
    background: radial-gradient(50.02% 50% at 50.01% 50.03%, #0A957F 0%, #09927C 14.9%, #077B6A 34.69%, #0A6849 52.4%, #000000 100%);
    mix-blend-mode: color-dodge;
    right: 45px;
    bottom: 208px;
}
.bitcoins3{
right: 53px;
bottom: 19px;
position: absolute;
}
.ellipse{
    &::before{
     
    z-index: -1;
    content: "";
    position: absolute;
    width: 36vw;
    height: 46vw;
    background: radial-gradient(50.43% 70.73% at 43.59% 47.21%, #437EEF 0%, #0222C7 11.89%, #07207A 26.69%, #100A57 61.3%, #120D3B 93.96%, #140C43 100%);
    -webkit-filter: blur(200px);
    filter: blur(200px);
    -webkit-transform: matrix(0.71, 0.41, -1.22, 0.71, 0, 0);
    transform: matrix(0.71, 0.41, -1.22, 0.71, 0, 0);
        right: 0;}}
